<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj_11_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,120},{47,44}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,33},{47,44}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,120},{47,44}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,33},{47,44}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,193},{47,44}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,30},{47,44}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,276},{47,44}}</string>
                <key>offset</key>
                <string>{25,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,27},{47,44}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,464},{47,44}}</string>
                <key>offset</key>
                <string>{24,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,23},{47,44}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,418},{49,44}}</string>
                <key>offset</key>
                <string>{23,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,20},{49,44}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,367},{49,44}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,16},{49,44}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,44},{49,44}}</string>
                <key>offset</key>
                <string>{21,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,13},{49,44}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,418},{49,44}}</string>
                <key>offset</key>
                <string>{20,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,10},{49,44}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,367},{49,44}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,6},{49,44}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,367},{49,44}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,6},{49,44}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{51,40}}</string>
                <key>offset</key>
                <string>{21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,20},{51,40}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,464},{55,44}}</string>
                <key>offset</key>
                <string>{19,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{55,44}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{51,40}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,25},{51,40}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,338},{65,48}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,25},{65,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{59,28}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,49},{59,28}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,475},{65,34}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,48},{65,34}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,475},{57,34}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{57,34}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{69,44}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,50},{69,44}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,132},{59,48}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,49},{59,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,338},{63,48}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{63,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,154},{59,56}}</string>
                <key>offset</key>
                <string>{-19,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,50},{59,56}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,154},{59,56}}</string>
                <key>offset</key>
                <string>{-19,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,50},{59,56}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,215},{59,48}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{59,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,306},{59,48}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{59,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,403},{59,48}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{59,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{59,48}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{59,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,71},{59,54}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,44},{59,54}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,244},{59,60}}</string>
                <key>offset</key>
                <string>{-20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{59,60}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,405},{59,64}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,34},{59,64}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,172},{59,70}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{59,70}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,262},{59,74}}</string>
                <key>offset</key>
                <string>{-19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{59,74}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,262},{59,74}}</string>
                <key>offset</key>
                <string>{-19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{59,74}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{53,78}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{53,78}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{53,78}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{53,78}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,180},{51,80}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{51,80}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,180},{51,80}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{51,80}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,82},{57,70}}</string>
                <key>offset</key>
                <string>{-17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{57,70}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,82},{57,70}}</string>
                <key>offset</key>
                <string>{-17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{57,70}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{67,60}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,38},{67,60}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{67,60}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,38},{67,60}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,91},{79,54}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,44},{79,54}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,91},{79,54}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,44},{79,54}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,198},{89,52}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,49},{89,52}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,198},{89,52}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,49},{89,52}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,91},{87,64}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,34},{87,64}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{87,68}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{87,68}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,291},{89,72}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{89,72}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,384},{89,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{89,76}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{91,82}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{91,82}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{91,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{91,86}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{91,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{91,90}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{93,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{93,94}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,98}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{93,98}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>hddj_11_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,63},{55,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{55,48}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj_11_pin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6af2cc1048cc142354f6b88ec345fe1a$</string>
            <key>textureFileName</key>
            <string>hddj_11_pin.png</string>
        </dict>
    </dict>
</plist>
