<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj_4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,32}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{178,32}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{148,30}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,63},{148,30}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{118,34}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,59},{118,34}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{86,38}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,55},{86,38}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,172},{56,52}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,41},{56,52}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{60,58}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,35},{60,58}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,108},{62,56}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,36},{62,56}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,574},{70,60}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{70,60}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,544},{72,64}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{72,64}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{60,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,10},{60,82}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,376},{60,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,4},{60,88}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,34},{62,92}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,404},{60,84}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,8},{60,84}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,328},{74,86}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,6},{74,86}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,300},{74,88}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{74,88}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,64},{78,86}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,6},{78,86}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,268},{76,86}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,6},{76,86}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{76,86}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,6},{76,86}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{76,84}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,8},{76,84}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,394},{76,84}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,8},{76,84}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,222},{76,88}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,10},{76,88}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,472},{76,82}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,10},{76,82}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,466},{76,82}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,10},{76,82}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,496},{76,80}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,12},{76,80}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,36},{88,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,12},{88,80}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{88,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,12},{88,80}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,38},{90,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,14},{90,78}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,98},{88,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,14},{88,78}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,196},{88,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,16},{88,76}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,144},{88,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,16},{88,76}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,118},{88,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,16},{88,76}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,274},{88,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{88,74}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,178},{88,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{88,74}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,118},{88,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{88,74}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{88,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{88,74}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,350},{88,72}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{88,72}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,254},{88,72}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{88,72}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,194},{88,72}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{88,72}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{88,72}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{88,72}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,424},{86,70}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,23},{86,70}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,346},{86,46}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,48},{86,46}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{86,46}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,49},{86,46}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,488},{86,46}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,49},{86,46}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,438},{86,48}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,48},{86,48}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,536},{72,48}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,48},{72,48}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{72,48}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,49},{72,48}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,602},{72,50}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,48},{72,50}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{72,50}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,48},{72,50}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,550},{72,50}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,49},{72,50}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,522},{72,52}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,48},{72,52}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,448},{72,52}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,48},{72,52}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,374},{72,52}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,49},{72,52}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,300},{72,52}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,49},{72,52}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,226},{72,54}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,48},{72,54}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,34},{72,54}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,48},{72,54}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,654},{62,44}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,48},{62,44}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,610},{62,44}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,48},{62,44}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,596},{62,44}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,49},{62,44}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>hddj_4_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,38},{1,1}}</string>
                <key>offset</key>
                <string>{-88.5,53.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj_4_pin.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53ece7ac620802b9c079532247992f1a$</string>
            <key>textureFileName</key>
            <string>hddj_4_pin.png</string>
        </dict>
    </dict>
</plist>
