<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3jizhong0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,486},{74,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{74,72}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,620},{74,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{74,70}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,710},{74,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{74,68}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,700},{74,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{74,68}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,692},{74,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{74,68}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,770},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{74,66}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,762},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{74,66}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,710},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{74,66}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,778},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{72,66}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{72,66}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,780},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{72,66}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,710},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{74,66}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{74,66}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,560},{78,78}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{78,78}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,538},{80,80}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{80,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,536},{92,92}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{92,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{102,104}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{102,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,536},{102,104}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{102,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,434},{102,104}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{102,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,428},{106,106}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,106}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{106,106}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,106}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,428},{106,106}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,106}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,326},{106,106}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,106}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,320},{106,108}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{106,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{106,108}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{106,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,320},{106,108}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{106,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,216},{108,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{106,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{108,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{108,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{108,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,216},{102,110}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{102,110}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,216},{102,110}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,112},{102,110}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,112},{102,110}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,112},{102,110}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,406},{78,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{78,68}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,326},{78,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{78,68}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,640},{74,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{74,68}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{74,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{74,68}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,640},{74,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{74,68}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3jizhong0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,630},{74,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{74,68}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj_18_pin.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3e71543a0551ce1d545237de4bbb9b6$</string>
            <key>textureFileName</key>
            <string>hddj_18_pin.png</string>
        </dict>
    </dict>
</plist>
