<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,279},{36,39}}</string>
                <key>offset</key>
                <string>{68,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,44},{36,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,279},{36,39}}</string>
                <key>offset</key>
                <string>{62,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,44},{36,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,239},{38,39}}</string>
                <key>offset</key>
                <string>{55,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,44},{38,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,199},{38,39}}</string>
                <key>offset</key>
                <string>{49,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,44},{38,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,199},{38,39}}</string>
                <key>offset</key>
                <string>{43,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,44},{38,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,248},{36,39}}</string>
                <key>offset</key>
                <string>{37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,44},{36,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,248},{36,39}}</string>
                <key>offset</key>
                <string>{37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,44},{36,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,248},{36,39}}</string>
                <key>offset</key>
                <string>{37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,44},{36,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,248},{36,39}}</string>
                <key>offset</key>
                <string>{37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,44},{36,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,248},{36,39}}</string>
                <key>offset</key>
                <string>{37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,44},{36,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,248},{36,39}}</string>
                <key>offset</key>
                <string>{37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,44},{36,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,248},{36,39}}</string>
                <key>offset</key>
                <string>{37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,44},{36,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,248},{36,39}}</string>
                <key>offset</key>
                <string>{37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,44},{36,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,248},{36,39}}</string>
                <key>offset</key>
                <string>{37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,44},{36,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,248},{36,39}}</string>
                <key>offset</key>
                <string>{37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,44},{36,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,126},{34,41}}</string>
                <key>offset</key>
                <string>{74,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,18},{34,41}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,173},{36,39}}</string>
                <key>offset</key>
                <string>{82,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,20},{36,39}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,162},{40,35}}</string>
                <key>offset</key>
                <string>{85,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,23},{40,35}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,248},{52,31}}</string>
                <key>offset</key>
                <string>{30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,49},{52,31}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,124},{64,49}}</string>
                <key>offset</key>
                <string>{25,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,39},{64,49}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,274},{88,59}}</string>
                <key>offset</key>
                <string>{25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,30},{88,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,175},{34,43}}</string>
                <key>offset</key>
                <string>{52,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,31},{34,43}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,175},{34,41}}</string>
                <key>offset</key>
                <string>{53,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,33},{34,41}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,59}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{156,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{148,59}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{148,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{140,59}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{140,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{132,59}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,31},{132,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{124,59}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,31},{124,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{116,59}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,31},{116,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,63},{106,59}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,31},{106,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,281},{52,57}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,33},{52,57}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,281},{52,57}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,33},{52,57}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,281},{52,57}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,33},{52,57}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,281},{52,57}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,33},{52,57}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,281},{52,57}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,33},{52,57}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,281},{52,57}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,33},{52,57}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,281},{52,57}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,33},{52,57}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,281},{52,57}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,33},{52,57}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,335},{52,57}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,33},{52,57}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,335},{50,59}}</string>
                <key>offset</key>
                <string>{-63,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{50,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,55},{52,57}}</string>
                <key>offset</key>
                <string>{-73,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{58,51}}</string>
                <key>offset</key>
                <string>{-76,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{58,51}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,126},{68,45}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,40},{68,45}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,211},{82,63}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,33},{82,63}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,124},{92,93}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,16},{92,93}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,411},{94,59}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,18},{94,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,187},{88,59}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,18},{88,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,124},{88,61}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,17},{88,61}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,218},{90,61}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,18},{90,61}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,211},{90,61}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,17},{90,61}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,313},{96,59}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,17},{96,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,211},{100,59}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,17},{100,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,63},{104,59}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,17},{104,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,63},{104,59}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,17},{104,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,109},{100,59}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,17},{100,59}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,289},{38,23}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,53},{38,23}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,362},{32,27}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,51},{32,27}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,314},{32,29}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,50},{32,29}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,345},{32,25}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,53},{32,25}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,281},{38,23}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,54},{38,23}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,63},{44,19}}</string>
                <key>offset</key>
                <string>{20,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,54},{44,19}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,295},{52,13}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,56},{52,13}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,119},{54,15}}</string>
                <key>offset</key>
                <string>{18,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,56},{54,15}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,105},{46,19}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,55},{46,19}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,281},{38,23}}</string>
                <key>offset</key>
                <string>{16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,54},{38,23}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,344},{32,25}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,53},{32,25}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,335},{32,29}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,50},{32,29}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,317},{32,25}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,53},{32,25}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,306},{36,23}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,53},{36,23}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,63},{44,17}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,56},{44,17}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,295},{52,13}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,56},{52,13}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,411},{52,15}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,56},{52,15}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,84},{46,19}}</string>
                <key>offset</key>
                <string>{17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,54},{46,19}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,310},{38,23}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,53},{38,23}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,337},{32,27}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,51},{32,27}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,331},{32,29}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,50},{32,29}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,317},{32,25}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,53},{32,25}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,487},{38,23}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,54},{38,23}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{44,19}}</string>
                <key>offset</key>
                <string>{20,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,54},{44,19}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,396},{52,13}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,56},{52,13}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,63},{54,15}}</string>
                <key>offset</key>
                <string>{18,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,56},{54,15}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,63},{46,19}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,55},{46,19}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{38,23}}</string>
                <key>offset</key>
                <string>{16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,54},{38,23}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,366},{32,25}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,53},{32,25}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>hddj_2_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,306},{32,29}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,50},{32,29}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj_2_pin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f06124a12b154848e0abdd05877c37d8$</string>
            <key>textureFileName</key>
            <string>hddj_2_pin.png</string>
        </dict>
    </dict>
</plist>
