<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5jizhong0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,778},{82,96}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,778},{82,96}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,890},{82,96}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,890},{82,96}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{82,96}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,670},{82,96}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{82,96}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,568},{82,96}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,470},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,384},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,384},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,480},{116,86}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{116,86}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,666},{110,88}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{110,88}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,482},{110,90}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{110,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,384},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,100},{120,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,100},{120,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,194},{120,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,194},{120,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,194},{120,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,382},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,382},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{110,96}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,666},{110,96}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,382},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,100},{120,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{120,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{120,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,190},{120,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{120,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,372},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,286},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,286},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,576},{110,90}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{110,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{110,90}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{110,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,286},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,190},{120,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,96},{120,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,192},{120,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,192},{120,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,284},{120,86}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{120,86}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,384},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,480},{116,86}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{116,86}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,666},{110,88}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{110,88}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,482},{110,90}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{110,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,384},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,100},{120,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,100},{120,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,194},{120,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,194},{120,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,194},{120,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,382},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,382},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,572},{110,96}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,284},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,98},{120,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,96},{120,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,100},{120,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{120,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,480},{116,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,94}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,284},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,284},{116,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,568},{110,96}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{110,90}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{110,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,480},{116,90}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{116,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>5jizhong0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{120,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj_20_pin.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68027767d82beb94b869a597eed42142$</string>
            <key>textureFileName</key>
            <string>hddj_20_pin.png</string>
        </dict>
    </dict>
</plist>
