<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mail_item_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,197}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{198,197}}</string>
                <key>sourceSize</key>
                <string>{210,209}</string>
            </dict>
            <key>mail_item_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{196,195}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{196,195}}</string>
                <key>sourceSize</key>
                <string>{210,209}</string>
            </dict>
            <key>mail_item_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,201},{194,189}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{194,189}}</string>
                <key>sourceSize</key>
                <string>{210,209}</string>
            </dict>
            <key>mail_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,114},{34,24}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{34,24}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,114},{44,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{44,34}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,78},{44,34}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{44,34}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,54},{44,36}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,40},{44,36}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{52,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,36}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,28},{52,26}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{52,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,26},{52,26}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{52,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{56,24}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{56,24}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{54,22}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{54,22}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,92},{28,20}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{28,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,140},{32,24}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{32,24}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,158},{36,24}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{36,24}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,120},{36,24}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{36,24}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,114},{34,24}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{34,24}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,120},{34,24}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{34,24}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,120},{38,26}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{38,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,40},{38,28}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{38,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,80},{40,32}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{40,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,160},{38,32}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{38,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,160},{38,32}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{38,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,156},{42,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{42,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,92},{30,26}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{30,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,56},{44,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{44,34}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,114},{44,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{44,34}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,78},{44,34}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{44,34}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,54},{44,36}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,40},{44,36}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{52,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,36}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,28},{52,26}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{52,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,26},{52,26}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{52,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{56,24}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{56,24}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{54,22}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{54,22}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,40},{38,28}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{38,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,92},{28,20}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{28,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,158},{36,24}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{36,24}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,120},{36,24}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{36,24}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,80},{40,32}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{40,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,160},{38,32}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{38,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,160},{38,32}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{38,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,156},{42,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{42,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>mail_title_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,56},{44,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{44,34}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mail_title_anim.png</string>
            <key>size</key>
            <string>{390,399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd78490181a73c218c62c3c33acd387c$</string>
            <key>textureFileName</key>
            <string>mail_title_anim.png</string>
        </dict>
    </dict>
</plist>
