<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj_6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{69,60}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{69,60}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,301},{61,54}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{61,54}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{59,52}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{59,52}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,205},{57,52}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{57,52}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,258},{55,50}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{55,50}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,258},{55,50}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{55,50}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,263},{53,48}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{53,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,64}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{73,64}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{71,64}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{71,64}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{71,62}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{71,62}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{69,62}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{69,62}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{69,62}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{69,62}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,66},{67,62}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{67,62}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{65,60}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{65,60}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,239},{65,60}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{65,60}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,240},{63,58}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{63,58}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,250},{61,58}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{61,58}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,300},{61,56}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{61,56}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{1,1}}</string>
                <key>offset</key>
                <string>{-38,37.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,517},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,510},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,513},{47,48}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,19},{47,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,416},{47,50}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{47,50}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,517},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,510},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,464},{47,50}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{47,50}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,416},{47,50}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{47,50}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,517},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,517},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,464},{47,50}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{47,50}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,510},{47,48}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,19},{47,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{47,50}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{47,50}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,463},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,460},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,460},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,414},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,410},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,467},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,460},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,413},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,410},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,366},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,358},{51,50}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{51,50}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,310},{51,52}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{51,52}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,313},{51,52}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{51,52}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,259},{53,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{53,54}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,205},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{55,56}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,199},{57,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{57,58}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,357},{59,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{59,58}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{59,60}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{59,60}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,197},{59,62}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{59,62}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,187},{61,64}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{61,64}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{61,66}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,68},{63,66}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{63,66}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,138},{65,66}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,132},{65,66}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,130},{65,66}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,66},{67,66}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,66},{67,66}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,70},{67,66}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,64},{67,66}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{67,66}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,187},{51,66}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{51,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,134},{51,66}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{51,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{51,66}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{51,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,186},{51,66}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{51,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,134},{51,66}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{51,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,133},{51,66}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{51,66}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,417},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,417},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,417},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,417},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,417},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,410},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,363},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,364},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,360},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,360},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,314},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,310},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,310},{51,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{51,48}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hddj_6_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{1,1}}</string>
                <key>offset</key>
                <string>{-38,37.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj_6_pin.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73532f8638e8da2cfe67369d9966ed94$</string>
            <key>textureFileName</key>
            <string>hddj_6_pin.png</string>
        </dict>
    </dict>
</plist>
