<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jz0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,392},{30,32}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,51},{30,32}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,344},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,466},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,344},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,588},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,466},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,344},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,230},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,822},{112,122}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{112,122}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,824},{114,126}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{114,126}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,264},{116,126}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,126}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,230},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,230},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,116},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,116},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,116},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,116},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,116},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,862},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,740},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,618},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,496},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,374},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,124},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,252},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,874},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,752},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,630},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,508},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,386},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,130},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,264},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,548},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,426},{112,120}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,822},{112,122}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,122}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,696},{114,126}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{114,126}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,134},{114,130}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{114,130}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,294},{116,134}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{116,134}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{118,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{118,138}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{118,140}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{118,140}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{118,142}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{118,142}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{120,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,130}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,130}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,564},{120,130}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,130}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,696},{118,124}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{118,124}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{118,126}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{118,126}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,134},{120,128}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,128}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,430},{120,132}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{120,134}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,134}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>jz0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{120,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,136}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj_17_pin.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e62031a3c1febb27ee61155d04fa7a9$</string>
            <key>textureFileName</key>
            <string>hddj_17_pin.png</string>
        </dict>
    </dict>
</plist>
