<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj_16_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,152},{66,64}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,84},{66,64}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,218},{68,58}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,90},{68,58}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,388},{70,54}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,94},{70,54}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,336},{72,50}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,98},{72,50}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,288},{76,46}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,102},{76,46}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,288},{76,46}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,102},{76,46}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,288},{76,46}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,102},{76,46}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,288},{76,46}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,102},{76,46}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,740},{96,90}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{96,90}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,754},{96,88}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,60},{96,88}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,634},{118,128}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{118,128}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,522},{118,128}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{118,128}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{152,148}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{152,148}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{152,148}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{152,148}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,134}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{160,134}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,134}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{160,134}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,152},{126,142}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{126,142}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,138},{126,142}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{126,142}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,280},{130,134}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{130,134}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,266},{130,134}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{130,134}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{130,122}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{130,122}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,510},{130,122}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{130,122}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,412},{132,108}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{132,108}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{132,110}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,38},{132,110}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,398},{132,110}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,38},{132,110}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{134,112}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,36},{134,112}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,444},{126,104}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,44},{126,104}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{126,98}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,50},{126,98}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,642},{124,96}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,52},{124,96}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,572},{124,96}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,52},{124,96}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{126,94}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,54},{126,94}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>hddj_16_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,698},{114,92}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,56},{114,92}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj_16_pin.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b5d0da8b0073e453e30a4503819f1dd$</string>
            <key>textureFileName</key>
            <string>hddj_16_pin.png</string>
        </dict>
    </dict>
</plist>
