<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj_12_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,269},{57,32}}</string>
                <key>offset</key>
                <string>{-44,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{57,32}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,269},{57,32}}</string>
                <key>offset</key>
                <string>{-44,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{57,32}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,269},{57,32}}</string>
                <key>offset</key>
                <string>{-44,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{57,32}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,536},{59,50}}</string>
                <key>offset</key>
                <string>{-25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{59,50}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,536},{59,50}}</string>
                <key>offset</key>
                <string>{-25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{59,50}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,536},{59,50}}</string>
                <key>offset</key>
                <string>{-25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{59,50}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,461},{65,52}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,20},{65,52}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,461},{65,52}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,20},{65,52}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,461},{65,52}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,20},{65,52}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,405},{65,54}}</string>
                <key>offset</key>
                <string>{21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,16},{65,54}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,515},{87,78}}</string>
                <key>offset</key>
                <string>{25,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,3},{87,78}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,494},{95,86}}</string>
                <key>offset</key>
                <string>{25,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{91,94}}</string>
                <key>offset</key>
                <string>{26,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,7},{91,94}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,447},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,447},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,447},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,405},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,358},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,358},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,316},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,138},{87,110}}</string>
                <key>offset</key>
                <string>{26,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,8},{87,110}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,180},{87,116}}</string>
                <key>offset</key>
                <string>{26,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,116}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,180},{87,120}}</string>
                <key>offset</key>
                <string>{26,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,8},{87,120}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{87,126}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,126}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,91},{87,128}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,128}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,91},{87,130}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,130}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{87,132}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,132}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{87,134}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,134}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{87,136}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,136}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{87,138}}</string>
                <key>offset</key>
                <string>{26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,138}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,138}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,8},{87,138}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>hddj_12_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,227},{87,108}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{87,108}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj_12_pin.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a5b8b3b031561195290dc05fe87e281$</string>
            <key>textureFileName</key>
            <string>hddj_12_pin.png</string>
        </dict>
    </dict>
</plist>
