<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_22_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{75,72}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{75,72}}</string>
                <key>sourceSize</key>
                <string>{111,96}</string>
            </dict>
            <key>expression_22_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,88}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,88}}</string>
                <key>sourceSize</key>
                <string>{111,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_22_pin.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:949d23dfce13c0c61277c278658d9dbf$</string>
            <key>textureFileName</key>
            <string>expression_22_pin.png</string>
        </dict>
    </dict>
</plist>
