<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_72_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{107,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,82}}</string>
                <key>sourceSize</key>
                <string>{107,82}</string>
            </dict>
            <key>expression_72_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,82}}</string>
                <key>sourceSize</key>
                <string>{107,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_72_pin.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:499b429820f37a42587b4ab8f47d74ae$</string>
            <key>textureFileName</key>
            <string>expression_72_pin.png</string>
        </dict>
    </dict>
</plist>
