<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_63_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{95,82}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{95,82}}</string>
                <key>sourceSize</key>
                <string>{153,90}</string>
            </dict>
            <key>expression_63_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{137,74}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{137,74}}</string>
                <key>sourceSize</key>
                <string>{153,90}</string>
            </dict>
            <key>expression_63_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,70}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{153,70}}</string>
                <key>sourceSize</key>
                <string>{153,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_63_pin.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1246785dadde9537454c5d755fb49e4b$</string>
            <key>textureFileName</key>
            <string>expression_63_pin.png</string>
        </dict>
    </dict>
</plist>
