<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_61_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{96,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,86}</string>
            </dict>
            <key>expression_61_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_61_pin.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b2c69e69ac15f9938ccfcdfaf7bbb2f$</string>
            <key>textureFileName</key>
            <string>expression_61_pin.png</string>
        </dict>
    </dict>
</plist>
