<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_80_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{109,83}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{109,83}}</string>
                <key>sourceSize</key>
                <string>{109,115}</string>
            </dict>
            <key>expression_80_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{95,115}}</string>
                <key>sourceSize</key>
                <string>{109,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_80_pin.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e60dfa047e3af0412f0b9884484ddb50$</string>
            <key>textureFileName</key>
            <string>expression_80_pin.png</string>
        </dict>
    </dict>
</plist>
