<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_10_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{68,73}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{68,73}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>expression_10_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{68,75}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>expression_10_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,75}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_10_pin.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e677917b46c044076b96b1b91a52533$</string>
            <key>textureFileName</key>
            <string>expression_10_pin.png</string>
        </dict>
    </dict>
</plist>
