<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_64_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{73,63}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{73,63}}</string>
                <key>sourceSize</key>
                <string>{113,83}</string>
            </dict>
            <key>expression_64_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,83}}</string>
                <key>sourceSize</key>
                <string>{113,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_64_pin.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a52dce5fa4baedcee08b72529612121$</string>
            <key>textureFileName</key>
            <string>expression_64_pin.png</string>
        </dict>
    </dict>
</plist>
