<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_78_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{96,83}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,23},{96,83}}</string>
                <key>sourceSize</key>
                <string>{116,117}</string>
            </dict>
            <key>expression_78_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,117}}</string>
                <key>sourceSize</key>
                <string>{116,117}</string>
            </dict>
            <key>expression_78_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{104,113}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{104,113}}</string>
                <key>sourceSize</key>
                <string>{116,117}</string>
            </dict>
            <key>expression_78_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,121},{102,81}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,25},{102,81}}</string>
                <key>sourceSize</key>
                <string>{116,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_78_pin.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4e2c5429e6c4d72911cbce9624c12b4$</string>
            <key>textureFileName</key>
            <string>expression_78_pin.png</string>
        </dict>
    </dict>
</plist>
