<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{80,78}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{80,78}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>expression_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_3_pin.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c458aed83c82a377e6ce61274c19c74$</string>
            <key>textureFileName</key>
            <string>expression_3_pin.png</string>
        </dict>
    </dict>
</plist>
