<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_17_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{77,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{77,64}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>expression_17_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{87,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{87,64}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>expression_17_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{75,80}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{75,80}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>expression_17_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{87,64}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_17_pin.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bb864872ce91fc5f05d5eeb2ea4e7f4$</string>
            <key>textureFileName</key>
            <string>expression_17_pin.png</string>
        </dict>
    </dict>
</plist>
