<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>racoon_expression_10103_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{104,79}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{104,79}}</string>
                <key>sourceSize</key>
                <string>{112,105}</string>
            </dict>
            <key>racoon_expression_10103_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,105}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{84,105}}</string>
                <key>sourceSize</key>
                <string>{112,105}</string>
            </dict>
            <key>racoon_expression_10103_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,109},{96,99}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{96,99}}</string>
                <key>sourceSize</key>
                <string>{112,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>racoon_expression_10103_pin.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f78783096efd4db4ac469b7d3a3219a$</string>
            <key>textureFileName</key>
            <string>racoon_expression_10103_pin.png</string>
        </dict>
    </dict>
</plist>
