<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>racoon_expression_10108_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,82},{76,75}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{76,75}}</string>
                <key>sourceSize</key>
                <string>{102,123}</string>
            </dict>
            <key>racoon_expression_10108_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,82},{76,75}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{76,75}}</string>
                <key>sourceSize</key>
                <string>{102,123}</string>
            </dict>
            <key>racoon_expression_10108_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{78,87}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,36},{78,87}}</string>
                <key>sourceSize</key>
                <string>{102,123}</string>
            </dict>
            <key>racoon_expression_10108_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{102,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,123}}</string>
                <key>sourceSize</key>
                <string>{102,123}</string>
            </dict>
            <key>racoon_expression_10108_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,123}}</string>
                <key>sourceSize</key>
                <string>{102,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>racoon_expression_10108_pin.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99a9798b35119a420a10392a20e091bf$</string>
            <key>textureFileName</key>
            <string>racoon_expression_10108_pin.png</string>
        </dict>
    </dict>
</plist>
