<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>racoon_expression_10111_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,131},{77,107}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{77,107}}</string>
                <key>sourceSize</key>
                <string>{87,127}</string>
            </dict>
            <key>racoon_expression_10111_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{77,91}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{77,91}}</string>
                <key>sourceSize</key>
                <string>{87,127}</string>
            </dict>
            <key>racoon_expression_10111_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{83,119}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{83,119}}</string>
                <key>sourceSize</key>
                <string>{87,127}</string>
            </dict>
            <key>racoon_expression_10111_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,127}}</string>
                <key>sourceSize</key>
                <string>{87,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>racoon_expression_10111_pin.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61827497ebf7dfee7e7504839d6a69b5$</string>
            <key>textureFileName</key>
            <string>racoon_expression_10111_pin.png</string>
        </dict>
    </dict>
</plist>
